// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: flex;
  margin: 0 0 var(--spacer);
  color: grey;
  text-align: center;
  justify-content: flex-end;
    align-items: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: var(--spacer);
  text-decoration: none;
  border: solid var(--border-color);
  border-width: 1px 1px  1px 0 ;
  width:50%;

  &:first-child {
     border-width: 1px;
  }
  &:not(a) {
    cursor: not-allowed;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: var(--border-color);
}


